<div>
  <ul id="header">
    <li id="titulo_pagina">Agenda Telefonica</li>

    <form>
      <li id="pesquisa_contato">
        <div id="div-botao-pesquisa">
          <button id="botao-de-pesquisa">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>

        <input class="inputPesquisa" type="text" id="caixa-pesquisar_contato" name="pesquisar_contato" placeholder="Pesquisar..." [(ngModel)]="pesquisar" (keyup)="pesquisarContato()">
        <i class="fa-solid fa-x" id="limpar-pesquisa" *ngIf="pesquisar" (click)="deletarPesquisa()"></i>
      </li>
    </form>
  </ul>
</div>

<div id="conteudo_principal">
  <div id="lista_de_contatos">
    <h2>Lista de Contatos</h2>

    <div id="div_botao-adicionar">
      <button id="botao_adicionar" (click)="adicionarContato()">
        <i class="fa-solid fa-user-plus"></i>
      </button>
    </div>

    <table id="barra_lista-de-contatos">
      <thead>
        <tr id="nomes_lista-de-contatos">
          <th id="barra_nome-menu">Nome</th>
          <th id="barra_contato-menu">Contato</th>
          <th id="barra_acao-menu">Ação</th>
        </tr>
      </thead>
    </table>

    <table id="informacoes_contatos">
      <tbody id="barra_informacoes-de-contato">
        <tr id="linhas_contatos" *ngFor="let contato of contatos">
          <td id="barra_nome-lista">{{ contato.name }}</td>
          <td id="barra_contato-lista">{{ contato.number }}</td>
          <td id="barra_acao-lista">
            <i id="icone_edicao" class="fa-solid fa-user-pen" (click)="editarContato(contato.id)"></i>
            
            <i id="icone_excluir" class="fa-solid fa-trash-can" (click)="deletarContato(contato)"></i>
          </td>
        </tr>
      </tbody>
    </table> 
  </div>

  <div id="edicao_de_contatos" *ngIf="adicionar || editar">
    <form (ngSubmit)="onSubmit()" id="formulario" method="" action="">
      <h2 class="title" *ngIf="adicionar">
        Adicionar Contato
        <span (click)="cancelar()" class="close-btn">X</span>
      </h2>
      <h2 class="title" *ngIf="editar">
        Editar Contato
        <span (click)="cancelar()" class="close-btn">X</span>
      </h2>

      <label class="label">
        <span>Nome:</span>

        <input type="text" name="nome" class="campo" placeholder="Digite o nome do contato" [(ngModel)]="contato.name" name="nome"/>
      </label>
               
      <label class="label">
        <span>Número:</span>

        <input type="number" name="numero" class="campo" placeholder="Digite o número do contato" [(ngModel)]="contato.number" name="numero"/>
      </label>
               
      <label class="label"> 
          <input type="hidden" name="acao" value="enviar"> 

          <button type="submit" class="botao">Enviar</button>
      </label>
    </form>
  </div>
</div>