<div>
  <ul id="header">
    <li id="titulo_pagina">Agenda Telefonica</li>

    <form action="">
      <li id="pesquisa_contato">
        <div id="div-botao-pesquisa">
          <button id="botao-de-pesquisa">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>

        <input class="inputPesquisa" type="text" id="caixa-pesquisar_contato" name="pesquisar_contato" placeholder="Pesquisar...">    
      </li>
    </form>
  </ul>
</div>

<div id="conteudo_principal">
  <div id="lista_de_contatos">
    <h2>Lista de Contatos</h2>

    <div id="div_botao-adicionar">
      <button id="botao_adicionar" (click)="adicionarContato()">
        <i class="fa-solid fa-user-plus"></i>
      </button>
    </div>

    <li id="barra_lista-de-contatos">
      <div id="nomes_lista-de-contatos">
        <div id="barra_nome-menu">Nome:</div>

        <div id="barra_contato-menu">Contato:</div>

        <div id="barra_acao-menu">Ação:</div>
      </div>
    </li>

    <div id="informacoes_contatos">
      <div id="barra_informacoes-de-contato">
        <div id="linhas_contatos">
          <div id="barra_nome-lista">Joãozao</div>

          <div id="barra_contato-lista">62998651531</div>

          <div id="barra_acao-lista">
            <i id="icone_edicao" class="fa-solid fa-user-pen" (click)="editarContato()"></i>
            
            <i id="icone_excluir" class="fa-solid fa-trash-can"></i>
          </div>
        </div>

        <div id="barra_informacoes-de-contato">
          <div id="linhas_contatos">
            <div id="barra_nome-lista">Joãozao</div>
  
            <div id="barra_contato-lista">62998651531</div>
  
            <div id="barra_acao-lista">
              <i id="icone_edicao" class="fa-solid fa-user-pen" (click)="editarContato()"></i>

              <i id="icone_excluir" class="fa-solid fa-trash-can"></i>
            </div>
          </div>
        </div>

        <div id="barra_informacoes-de-contato">
          <div id="linhas_contatos">
            <div id="barra_nome-lista">Joãozao</div>
  
            <div id="barra_contato-lista">62998651531</div>
  
            <div id="barra_acao-lista">
              <i id="icone_edicao" class="fa-solid fa-user-pen" (click)="editarContato()"></i>

              <i id="icone_excluir" class="fa-solid fa-trash-can"></i>
            </div>
          </div>
        </div>
      </div>
    </div>     
  </div>

  <div id="edicao_de_contatos" *ngIf="adicionar || editar">
    <form (ngSubmit)="onSubmit()" id="formulario" method="" action="">
      <h2 class="title" *ngIf="adicionar">Adicionar Contato</h2>
      <h2 class="title" *ngIf="editar">Editar Contato</h2>

      <label class="label">
        <span>Nome:</span>

        <input type="text" name="nome" class="campo" placeholder="Digite o nome do contato" [(ngModel)]="contato.name" name="nome"/>
      </label>
               
      <label class="label">
        <span>Número:</span>

        <input type="number" name="numero" class="campo" placeholder="Digite o número do contato" [(ngModel)]="contato.number" name="numero"/>
      </label>
               
      <label class="label"> 
          <input type="hidden" name="acao" value="enviar"> 

          <button type="submit" class="botao">Enviar</button>
      </label>
    </form>
  </div>
</div>